﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Product
<style>
    btn {
        background-color: cyan;
        border-radius: 10px;
    }
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black;
    }
</style>

<h2>Delete Product</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="alert alert-danger" role="alert">
                    Are you sure you want to delete <strong>@Model.Name</strong>?
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

