﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Product

<style>
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black;
    }
</style>
<h4>Chi tiết sản phẩm</h4>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <div class="product-details">
                <h3>@Model.Price</h3>
                <p>@Model.Description</p>
            </div>
            <a class="btn btn-secondary mt-3" asp-action="Index"><i class="fas fa-arrow-left"></i> Back to List</a>
        </div>
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid product-image" />
            }
            else
            {
                <p>No image available</p>
            }
        </div>
    </div>
</div>
