﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center" style="background-color: cyan; color: white; padding: 10px;">Xóa sản phẩm</h2>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="alert alert-danger" role="alert">
                    Bạn có chắc chắn muốn xóa sản phẩm này: <strong>@Model.Name</strong>?
                </div>
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>
