﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Product

@{
    ViewData["Title"] = "Detail";
}


<style>
    .container {
        margin-top: 20px;
    }

    .product-details {
        margin-bottom: 20px;
    }

    .product-image {
        max-width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .back-button {
        margin-top: 20px;
    }
</style>

<h2 class="text-center" style="background-color: cyan; color: white; padding: 10px;">Chi tiết sản phẩm</h2>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <div class="product-details">
                <h3>Giá: @Model.Price</h3>
                <p>Mô tả: @Model.Description</p>
            </div>
            <a class="btn btn-secondary back-button" asp-action="Index"><i class="fas fa-arrow-left"></i> Quay lại danh sách</a>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid product-image" />
                }
                else
                {
                    <p>No image available</p>
                }
            </div>
        </div>
    </div>
</div>
