﻿@model IEnumerable<VoDucTri_2180605111_WebsiteBanHang.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<h1 class="text-center" style="background-color: cyan; color: white; padding: 10px;">@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>

<style>
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product {
        width: 300px;
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .product img {
            width: 100%; 
            height: auto; 
            object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
            transition: transform 0.3s ease; /* Thêm transition để tạo hiệu ứng mượt mà */
        }

        .product:hover img {
            transform: scale(1.5); /* Phóng to ảnh lên 110% khi hover */
        }


    .product-info h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .actions {
        margin-top: 10px;
    }

    /* Button Colors */
    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>

<div class="container">
    @foreach (var product in Model)
    {
        <div class="product">
            @if (!string.IsNullOrEmpty(product.ImageUrl))
            {
                <a href="@product.ImageUrl" class="product-image" data-fancybox="product-gallery" data-caption="@product.Name">
                    <img src="@product.ImageUrl" alt="Product Image" />
                </a>
            }
            else
            {
                <span>No Image</span>
            }

            <div class="product-info">
                <h3>@product.Name</h3>
                <p>Price: @product.Price</p>
                <p>Description: @product.Description</p>
                <p>Category: @(product.Category != null ? product.Category.Name : "No Category")</p>
            </div>

            <div class="actions">
                <a class="btn btn-info" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('.product-image').fancybox({
            loop: true,
            transitionEffect: "fade",
            transitionDuration: 600,
            buttons: [
                'slideShow',
                'zoom',
                'fullScreen',
                'thumbs',
                'close'
            ],
            thumbs: {
                autoStart: true, // Hiển thị ảnh nhỏ
                axis: 'x'
            }
        });
    });
</script>
