﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-center" style="background-color: cyan; color: white; padding: 10px;">@ViewData["Title"]</h1>


<h2>Mục đích</h2>
<p>Mục đích của Chính sách quyền riêng tư này là thông báo cho người dùng trang web của chúng tôi về thông tin chúng tôi thu thập và cách chúng tôi sử dụng thông tin này.</p>

<h2>Thu thập và sử dụng thông tin</h2>
<p>Chúng tôi thu thập một số thông tin nhất định từ và về người dùng trang web của chúng tôi, bao gồm:</p>
<ul>
    <li>Thông tin cá nhân như tên, địa chỉ email và số điện thoại được cung cấp tự nguyện thông qua biểu mẫu hoặc đăng ký tài khoản.</li>
    <li>Dữ liệu sử dụng như địa chỉ IP, loại trình duyệt và các trang đã truy cập, được thu thập tự động thông qua cookie và các công nghệ theo dõi khác.</li>
</ul>
<p>Chúng tôi sử dụng thông tin được thu thập cho nhiều mục đích khác nhau, bao gồm:</p>
<ul>
    <li>Cung cấp và duy trì trang web của chúng tôi.</li>
    <li>Cá nhân hóa trải nghiệm người dùng và cung cấp nội dung phù hợp với sở thích của người dùng.</li>
    <li>Phân tích việc sử dụng trang web và cải thiện dịch vụ của chúng tôi.</li>
    <li>Giao tiếp với người dùng, bao gồm trả lời các câu hỏi và cung cấp hỗ trợ khách hàng.</li>
</ul>

<h2>Bảo mật dữ liệu</h2>
<p>Chúng tôi thực hiện các biện pháp thích hợp để bảo vệ tính bảo mật của thông tin cá nhân của người dùng và đảm bảo rằng thông tin đó không bị truy cập, tiết lộ, thay đổi hoặc phá hủy mà không được phép.</p>
<p>Tuy nhiên, xin lưu ý rằng không có phương thức truyền qua Internet hoặc lưu trữ điện tử nào là an toàn tuyệt đối và chúng tôi không thể đảm bảo tính bảo mật tuyệt đối.</p>

<h2>Những thay đổi đối với Chính sách quyền riêng tư này</h2>
<p>Chúng tôi có quyền cập nhật hoặc sửa đổi Chính sách quyền riêng tư này bất cứ lúc nào mà không cần thông báo trước. Người dùng được khuyến khích kiểm tra trang này định kỳ để biết bất kỳ thay đổi nào. Bằng việc tiếp tục sử dụng trang web của chúng tôi sau khi các thay đổi được đăng, người dùng xác nhận việc chấp nhận những thay đổi đó.</p>

<h2>Liên hệ với chúng tôi</h2>
<p>Nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào về Chính sách quyền riêng tư của chúng tôi, vui lòng liên hệ với chúng tôi:</p>
<ul>
    <li>Email: voductri744464@gmail.com</li>
    <li>Moblie Phone: +0918744464</li>
    <li>Table Phone: +0518744464</li>
</ul>
<div>
    <a class="btn btn-primary" href="/Admin">Trở lại trang chủ</a>

</div>