﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Category
@{
    ViewData["Title"] = "Delete Category";
}
<style>
    .btn {
        background-color: cyan;
        border-radius: 10px;
    }
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black;
    }
</style>
<h2>Delete Category</h2>

<p>Bạn có chắc chắn muốn xóa danh mục này không?</p>

<form method="post" asp-action="DeleteConfirmed" class="mt-3">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="name">Tên danh mục:</label>
        <input type="text" id="name" asp-for="Name" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>